@page
@model WindowPainter.Pages.CalibratorModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Calibrator";
}
<style>
    html {
        overflow: hidden;
        background-color: #ddd;
    }
    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
</style>
<div style="position: absolute;top: 20px; left: 0; width: 200px; height: 160px; border-top: 2px solid black; border-bottom: 2px solid black"></div>
<div style="position: absolute;top: 0; left: 20px; width: 160px; height: 200px; border-left: 2px solid black; border-right: 2px solid black"></div>
<div class="center">
    <button class="button" id="done-button">Done</button>
</div>
<script>
(() => {
    window.opener.onbeforeunload = () => window.close();
    document.getElementById("done-button").addEventListener("click", () => {
        window.opener.applyOffsets(screenX, screenY);
        window.close();
    }, false);
    window.addEventListener("keydown", ev => {
        console.log(ev, ev.keyCode);
        switch(ev.keyCode) {
            case 37: moveBy(-1, 0); break;
            case 38: moveBy(0, -1); break;
            case 39: moveBy(1, 0); break;
            case 40: moveBy(0, 1); break;
        }
    }, false);
})();
</script>